html, body
{
    margin: 0;
    padding: 0;
}

body
{
    background: url(images/background.jpg);
}

#content
{
    position: absolute;
    width: 100%;
    height: 100%;
}

#model
{
    display: table;
    width: calc(100% - 20px);
    position: absolute;
    margin: 10px;
    height: calc(100% - 20px);
}

.title
{
    font-size: 30px;
    color: white;
    font-weight: 600;
    position: relative;
    width: 200px;
    height: 100%;
    cursor: pointer;
    border-radius: 27px;
    text-align: center;
    opacity: 0.5;
    font-family: 'Poiret One', cursive;
    background: hsla(0, 0%, 0%, 0.4) border-box;
    box-shadow: rgba(0, 0, 0, 0.4);
    text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.3);
}

.title:hover
{
    opacity: 1;
}

.title_head
{
    position: relative;
    display: table-cell;
    cursor: pointer;
    height: 55px;
    min-width: 200px;
    width: 200px;
    border-radius: 27px;
}

.title_list
{
    font-size: 30px;
    display: block;
}

.title_element
{
    border-radius: 27px;
    background-color: white;
    font-weight: 600;
    display: block;
    margin: 3px;
    width: 297px;
    text-align: center;
    font-family: 'Poiret One', cursive;
}

img
{
    pointer-events: none;
}

.boardView
{
    width: 100%;
    height: calc(100% - 95px);
    position: absolute;
    top: 88px;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 20px;
    box-shadow: 0 0.8em 2em rgba(0, 0, 0, 1);
}

.board
{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: overlay;
}

.lines
{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.2;
}

.snapLine {
    height: 100%;
    width: 1px;
    position: absolute;
    border-left: white 1px dashed;
}

.delete_board
{
    cursor: pointer;
    background-color: hsla(0, 0%, 0%, 0);
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 55px;
    border-radius: 55px;
    background-image: url(images/delete_white.png);
    background-size: 55px;
    background-repeat: no-repeat;
}

.delete_board:hover
{
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
}

.list
{
    display: table;
    padding: 10px;
    position: absolute;
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0.5);
    background-clip: padding-box;
    border-radius: 20px;
    height: 102px;
    box-shadow: 0 0.8em 2em rgba(0, 0, 0, 0.6);
}

.list:hover
{
    background-color: hsla(0, 0%, 100%, 0.7);
}

.list:hover .delete
{
    display: initial;
}

.delete
{
    background-image: url(images/delete_black.png);
    background-size: 44px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: white;
    position: absolute;
    right: 13px;
    height: 43px;
    width: 43px;
    border-radius: 43px;
    margin-top: 3px;
}

.delete:hover
{
    background-color: hsl(0, 0%, 50%);
}

.note:hover
{
    background-color: hsla(0, 0%, 100%, 0.7);
}

.title_head:hover .delete_board
{
    display: initial;
}

.empty
{
    width: 400px;
    height: 200px;
    background-color: white;
}

.image
{
    background-clip: padding-box;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0.8em 2em rgba(0, 0, 0, 0.6);
}

.list_element
{
    width: 261px;
    border-radius: 27px;
    margin: 3px;
    padding-left: 45px;
    font-family: 'Poiret One', cursive;
}

.line_through
{
    text-decoration: line-through;
}


.button_board_new
{
    cursor: pointer;
    position: absolute;
    right: 430px;
    font-size: 30px;
    font-weight: 600;
    top: 10px;
    width: 55px;
    height: 55px;
    border-radius: 55px;
    background: hsla(0, 0%, 0%, 0.4) border-box;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.8);
    text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.3);
    background-image: url(images/plus_white.png);
    background-size: 55px;
    background-repeat: no-repeat;
}

.delete_image
{
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    right: 13px;
    height: 44px;
    width: 44px;
    border-radius: 44px;
    margin-top: 10px;
    background-image: url(images/delete_black.png);
    background-size: 44px;
    background-repeat: no-repeat;
}

.delete_image:hover
{
    background-color: hsl(0, 0%, 50%);
}

.loupe
{
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    right: 13px;
    height: 44px;
    width: 44px;
    border-radius: 44px;
    margin-top: 64px;
    background-image: url(images/loupe.png);
    background-size: 44px;
    background-repeat: no-repeat;
}

.loupe:hover
{
    background-color: hsl(0, 0%, 50%);
}


.note
{
    display: table;
    padding: 10px;
    position: absolute;
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0.5);
    background-clip: padding-box;
    border-radius: 20px;
    box-shadow: 0 0.8em 2em rgba(0, 0, 0, 0.6);
}


.delete_element
{
    cursor: pointer;
    background-color: white;
    position: absolute;
    display: none;
    right: 13px;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    margin-top: 3px;
    text-align: center;
    background-image: url(images/delete_black.png);
    background-size: 44px;
    background-repeat: no-repeat;
}

.delete_element:hover
{
    background-color: hsl(0, 0%, 50%);
}

input
{
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
}

.add
{
    cursor: pointer;
    background-color: white;
    position: absolute;
    right: 12px;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    margin-top: 2px;
    background-image: url(images/plus_black.png);
    background-size: 45px;
    background-repeat: no-repeat;
}

.add:hover
{
    background-color: hsl(0, 0%, 50%);
}

li:hover .list_element
{
    background-color: hsla(0, 0%, 100%, 0.7);
}

li:hover .delete_element
{
    display: initial;
}

li
{
    list-style: none;
    width: 323px;
}

input
{
    -webkit-user-select: none;
}

li.checked::before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 2px 2px 0;
    left: 30px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    margin-top: 14px;
}

.selected_border
{
    background-color: hsla(0, 0%, 100%, 0.7);
}

.selected_border .image
{
    background-color: hsla(0, 0%, 100%, 0);
}

.selected
{
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.8);
}

.selected .title
{
    opacity: 1;

}

#board_header
{
    position: absolute;
    width: 60%;
    height: 78px;
    overflow-x: overlay;
    padding-left: 10px;
}

#board_header_titles
{
    position: absolute;
    height: 84px;
}

.active
{
    background-color: #ffffff;
}

.input_place
{
    border-radius: 27px;
    margin: 3px;
    width: 210px;
    padding-left: 45px;
    font-family: 'Poiret One', cursive;
}

.textarea_place
{
    outline: none;
    font-size: 20px;
    border-color: #ffffff;
    width: 302px;
    height: 100px;
    padding-top: 8px;
    padding-left: 10px;
    resize: vertical;
    border-radius: 27px;
    margin: 3px;
    font-family: 'Poiret One', cursive;

}

.window
{
    background-color: rgba(242, 245, 247, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    transition: 1s;
    opacity: 0;
    position: fixed;
    z-index: 1000;
    border: 4px solid rgba(0, 0, 0, 0);
}

.window_delete_board
{
    background-color: rgba(242, 245, 247, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    transition: 1s;
    opacity: 0;
    position: fixed;
    z-index: 1000;
    border: 4px solid rgba(0, 0, 0, 0);
}

.window_img
{
    position: fixed;
    z-index: 1000;
    transition: 1s;
    border-radius: 5px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 99%;
    max-height: 99%;
    margin: auto;
    box-shadow: 0 0 20px #000000, 0 0 0 1000px rgba(210, 210, 210, .4);
}

.text_empty
{
    margin: auto;
    text-align: center;
    padding: 60px 60px 35px 60px;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
}

.button_ok
{
    text-align: center;
    padding: 5px 5px 5px 5px;
    width: 70px;
    height: 30px;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    background-color: hsla(0, 0%, 0%, 0.2);
    border-radius: 5px;
    box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.3);
    cursor: pointer;
    float: left;
    margin-left: 100px;
}

.text_input
{
    border: 2px solid #cccccc;
    border-radius: 5px;
    margin: 5px 63px 15px 63px;
    background-color: whitesmoke;
    color: black;
    width: 250px;
    font-family: 'Poiret One', cursive;
}

.button_ok:hover
{
    background-color: hsla(0, 0%, 0%, 0.4);
}

.button_cancel:hover
{
    background-color: hsla(0, 0%, 0%, 0.4);
}

.button_cancel
{
    text-align: center;
    padding: 5px 5px 5px 5px;
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    background-color: hsla(0, 0%, 0%, 0.2);
    border-radius: 5px;
    box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-left: 200px;
}

.danger
{
    background: url(images/dangerous.png);
    width: 65px;
    height: 65px;
    margin: 10px 168px 0 168px;
    border-radius: 65px;
}

.text_delete
{
    margin: auto;
    text-align: center;
    padding: 10px 60px 10px 60px;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
}

.text_title
{
    margin: auto;
    text-align: center;
    padding: 20px 60px 10px 60px;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
}

.window_empty
{
    position: fixed;
    transition: 1s;
    border-radius: 5px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 20px #000000, 0 0 0 1000px rgba(210, 210, 210, .4);
}

.opacity_visible
{
    opacity: 1;
    transition: 1s;
}

.open_block
{
    display: block;
}

.menu
{
    position: absolute;
    cursor: pointer;
    height: 45px;
    width: 200px;
    border-radius: 27px;
    font-size: 30px;
    color: white;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
    top: 10px;
    font-family: 'Poiret One', cursive;
    background: hsla(0, 0%, 0%, 0.4) border-box;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.8);
    text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.3);
}

.ul
{
    padding: 10px;
    position: fixed;
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0.5);
    background-clip: padding-box;
    border-radius: 20px;
    box-shadow: 0 0.8em 2em rgba(0, 0, 0, 0.6);
    top: 65px;
    right: 10px;
    display: none;
}

.open_block_ul
{
    display: block;
    transition: 1s;
}

.navigation
{
    right: 0;
    width: 200px;
    margin-right: 10px;
    position: absolute;
    height: 80px;
}

.new
{
    width: 261px;
    border-radius: 27px;
    margin: 6px;
    font-family: 'Poiret One', cursive;
    background: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.button_print
{
    width: 261px;
    border-radius: 27px;
    margin: 12px 6px 6px 6px;
    font-family: 'Poiret One', cursive;
    background: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.button_print:hover
{
    background-color: hsla(0, 0%, 100%, 0.7);
}

.new:hover
{
    background-color: hsla(0, 0%, 100%, 0.7);
}

#button_new_image
{
    opacity: 0;
    margin: 0;
    position: relative;
    z-index: 1000;
    cursor: pointer;
}

#new_image
{
    opacity: 0;
    margin: 0;
    height: 200px;
    width: 200px;
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    padding: 0;
}

#visible:hover
{
    background-color: hsla(0, 0%, 100%, 0.7);
}

#visible
{
    position: absolute;
    top: 108px;
    cursor: pointer;
}

.about
{
    cursor: pointer;
    height: 45px;
    border-radius: 27px;
    font-size: 30px;
    color: white;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
    top: 10px;
    font-family: 'Poiret One', cursive;
    background: hsla(0, 0%, 0%, 0.4) border-box;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.8);
    text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.3);
    right: 210px;
    width: 200px;
    margin-right: 10px;
    position: absolute;
}

.information
{
    width: 800px;
    height: 500px;
    background-color: white;
}


.block_title
{
    width: 400px;
    height: 200px;
    background-color: white;
}


.photo
{
    /*width: 200px;
    height: 200px;*/
    position: absolute;
    border: 2px solid #cccccc;
    border-radius: 5px;
    margin: 50px;
}

.name
{
    border: 2px solid #cccccc;
    border-radius: 5px;
    margin: 5px 50px 15px 50px;
    background-color: whitesmoke;
    color: black;
    width: 250px;
    font-family: 'Poiret One', cursive;
}

.message
{
    border: 2px solid #cccccc;
    border-radius: 5px;
    margin: 15px 0 15px 0;
    background-color: whitesmoke;
    color: black;
    width: 675px;
    height: 50px;
    font-family: 'Poiret One', cursive;
}

.mail
{
    border: 2px solid #cccccc;
    border-radius: 5px;
    margin: 5px 50px 15px 50px;
    background-color: whitesmoke;
    color: black;
    width: 250px;
    font-family: 'Poiret One', cursive;
}

.last_name
{
    border: 2px solid #cccccc;
    border-radius: 5px;
    margin: 5px 50px 15px 50px;
    background-color: whitesmoke;
    color: black;
    width: 250px;
    font-family: 'Poiret One', cursive;
}

.name_block
{
    text-align: right;
    margin: 50px 0 0 0;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
}

.last_name_block
{
    text-align: right;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
}

.message_block
{
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    left: 50px;
    margin-top: 35px;
    position: absolute;
}

.mail_block
{
    text-align: right;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
}

.button_ok_information
{
    text-align: center;
    padding: 5px 5px 5px 5px;
    width: 70px;
    height: 30px;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    background-color: hsla(0, 0%, 0%, 0.2);
    border-radius: 5px;
    box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.3);
    cursor: pointer;
    float: left;
    margin: 175px 0 0 290px;
}

.button_cancel_information
{
    text-align: center;
    padding: 5px 5px 5px 5px;
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    background-color: hsla(0, 0%, 0%, 0.2);
    border-radius: 5px;
    box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 175px 0 0 400px;
}

.button_ok_information:hover
{
    background-color: hsla(0, 0%, 0%, 0.4);
}

.button_cancel_information:hover
{
    background-color: hsla(0, 0%, 0%, 0.4);
}

.text_photo
{
    width: 200px;
    height: 120px;
    font-size: 20px;
    padding-top: 60px;
    font-family: 'Poiret One', cursive;
    text-align: center;
}

@media print
{
    body
    {
        visibility: hidden;
    }

    .board
    {
        visibility: visible;
    }
}

::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-thumb
{
    border-width: 1px 1px 1px 2px;
    border-color: #777777;
    background-color: #aaaaaa;
}

::-webkit-scrollbar-thumb:hover
{
    border-width: 1px 1px 1px 2px;
    border-color: #555555;
    background-color: #777777;
}

::-webkit-scrollbar-track
{
    border-width: 0;
}

::-webkit-scrollbar-track:hover
{
    border-left: solid 1px #aaaaaa;
    background-color: #eeeeee;
}